certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
docutils==0.21.2
fonttools==4.51.0
idna==3.7
importlib_metadata==7.1.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
joblib==1.4.2
keyring==25.2.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.8.4
mdurl==0.1.2
missingno==0.5.2
more-itertools==10.2.0
multipledispatch==1.0.0
natsort==8.4.0
nh3==0.2.17
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pandas-flavor==0.6.0
pillow==10.3.0
pkginfo==1.10.0
Pygments==2.18.0
pyjanitor==0.27.0
pyparsing==3.1.2
pyreadr==0.5.0
python-dateutil==2.9.0.post0
pytz==2024.1
readme_renderer==43.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
setuptools==69.5.1
six==1.16.0
threadpoolctl==3.5.0
twine==5.0.0
tzdata==2024.1
UpSetPlot==0.6.1
urllib3==2.2.1
wheel==0.43.0
xarray==2024.3.0
zipp==3.18.1
